# Standard Python ignores
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.pytest_cache/
.coverage
coverage.xml

# Slurm & Environment ignores
*.out
*.err
*.log
logs/
output/
metrics/
name.e
name2.e
nameh.e
name.o
*.zip
*.nc
*.marker
.markers/
PET0.ESMF_LogFile
garcia.code-workspace
.vscode/

# Data ignores
runs/
rawdata/
datasets/
graph/
*~